body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
    padding-top: 50px;
    min-height: 100%;
}
p {
    font-size: 16px;
}
.margin {
    margin-bottom: 45px;
}
.bg-1 {
    position: relative;
    text-align: center;
    color: white;
    background-image: url('../Images/Background.jpg');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    width: 100%;
    height: 100%;
    min-height: auto;
}
.bg-2 { 
    background-color: #ADADAD; 
    color: #ffffff;
}
.bg-3 { 
    background-color: #ffffff; /* White */
    color: #555555;
}
.bg-4 { 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;   
}
.container-fluid {
    padding-top: 5px;
    padding-bottom: 5px;
}
.container-fluid-inner {
    position: relative;
    top: 25%;
}
.bottom-border {
    border-bottom-style: solid;
    border-bottom-width: thin;
}
.navbar {
    padding-top: 0;
    padding-bottom: 0;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;    
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

header {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
    background-image: url('../Images/Background.jpg');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
}

header .header-content .header-content-inner h3 {
    margin-top: 0;
    margin-bottom: 50px;
    text-transform: uppercase;
}

header .header-content .header-content-inner hr {
    margin: 30px auto;
}

header .header-content .header-content-inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255,255,255,.7);
}

@media(min-width:768px) {
    header {
        min-height: 100%;
    }

    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .header-content-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

    header .header-content .header-content-inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }
}
